[Desktop Entry]
Name=Cosmic Widget Settings
Comment=Configure system resource monitor widget for COSMIC
Type=Application
Icon=com.github.zoliviragh.CosmicWidget
Exec=cosmic-widget-settings
Terminal=false
StartupNotify=true
Categories=COSMIC;Settings;
Keywords=monitor;system;settings;configure;
NoDisplay=false
